html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
}

body {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

/*---- くるくる ----*/
#progress{
	position: fixed;
    z-index: 3;
	left: 0%;
    top: 0%;
	width: 100%;
	height: 100%;
    background-color: black;
	opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none
}

#progressImg{
	position: fixed;
	left: 50%;
    top: 50%;
	width: 80px;
	height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    padding: 0;
}
  
/*---- 説明画面 ----*/
#description{
    position: absolute;
    overflow: auto;
    z-index: 2;
	left: 0%;
    top: 0%;
	width: 100%;
	height: 100%;
    text-align: center;
    color: rgb(75, 88, 88);
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#description h1, #description h2, #description p{
    font-family: sans-serif;
}
#description h1{
    font-size: 18pt;
    font-weight: bold;
    margin: 0.5em 0 0.3em;
}
#description h2{
    font-size: 14pt;
    font-weight: bold;
    margin: 0.5em 0 0.2em;
}
#description p{
    font-size: 10pt;
    margin: 0.2em 0;
}
#start{
    font-size: 14pt;
    margin: 0.7em 0;
    padding: 0.2em 2em;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #ffd060;
    box-shadow: 0px 0px 15px -1px #b9ebff;
}    

/*---- ログイン・ログアウトボタンとか ----*/
#controlPanel{
    position: fixed;
    display: inline-block;
    z-index: 1;
    left: 0px;
    top: 0px;
    padding: 0.3em;
    white-space: nowrap;
}
    
#icon{
    z-index: 1;
    height: 2em;
    border-radius: 1em;
}

#name{
    height: 1em;
    line-height: 1em;
    font-size: 0.7em;
    color: white;
    text-shadow: 0px 0px 3px black;
}

#login, #logout, #remove{
    display: none; /* 初期値はnone */
    height: 2.6em;
    line-height: 2em;
    font-size: 1em;
    margin: 0;
    padding: 0.3em 1em;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    color: white;
    box-shadow: 0px 0px 5px -1px black;
}
#login{
    background-color: #67c5ff;
}
#logout{
    background-color: #b0b0b0;
}
#remove{
    background-color: #bd2f2f;
}
#login:hover, #logout:hover, #remove:hover{
    text-shadow: 0px 0px 10px white;
}

/*---- 画像表示部分 ----*/
#imageContainer {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vw;
}

#image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 10px -2px #000000;
    border-radius: 5px;
}

.userIcon {
    position: absolute;
    height: 1.2em;
    margin-top: -0.6em;
    margin-right: 0.1em;
    border-radius: 0.6em;
}

.userName {
    position: absolute;
    width: 10%;
    font-size: 1em;
    margin-top: -0.5px;
	height: 1px;
	line-height: 1px;
    text-align: left;
    color: white;
    text-shadow: 0px 0px 3px black;
}
